* {
    /* border: 2px solid red; */
    font-family: "Italiana", sans-serif;
    font-weight: 400;
}
body {
    background: #f3f7d7;
}

/* header section */
.folio {
    font-size: 40px;
}

a {
    margin-top: 10px;
    text-decoration: none;
}
a:hover {
    cursor: pointer;
    /* color: rgba(0, 0, 0, 0.5); */
}

/* mobile version */
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 95%;
        /* height: 100px; */
        margin: 0 auto;
        padding: 1rem 1rem;
        /* border: red 2px solid; */
    }
    /* .header-left {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    } */
    .nav {
        display: none;
        flex-direction: column;
        /* background: rgba(0, 0, 0, .8); */
        background: rgb(243, 247, 215);
        position: absolute;
        top: 99px; right: 0px;
        width: 30%;
        padding-left: 20px;
        padding-top: 30px;
        /* height: 100%; */
    }
    #close {
        cursor: pointer;
        display: none;
        /* justify-content: right; */
        font-size: 28px;
        /* font-weight: 200; */
        /* margin: 20px; */
        /* position: relative; */
        /* top: 0px; right: 0px; */
        /* color: #f3f7d7; */
        /* background-color: rgba(0, 0, 0, .8); */
        padding: 10px;
        
    }
    #open {
        display: block;
        cursor: pointer;
        font-size: 30px;
        /* position: absolute;
        top: 20px; right: 20px; */
        padding: 10px;
    }
    .dropitms, .dropitms2 {
        display: none;
        flex-direction: column;
        /* margin-left: 20%; */
        /* padding-bottom: 10px; */
        /* padding-left: 10px; */
    }
    .dropbtns {
        display: flex;
        align-items: center;
    }
    .dropbtns h2 {
        /* padding: 10px; */
        /* margin-left: 20%; */
        font-size: 20px;
        /* font-weight: 200; */
        /* color: rgb(243, 247, 215); */
    }
    .dropbtns .fa-angle-down {
        display: none;
        /* color: rgb(243, 247, 215); */
        padding-left: 5px;
    }
    .fa-angle-up {
        /* color: rgb(243, 247, 215); */
        padding-left: 5px;
    }
    .nav a {
        color: rgb(0, 0, 0);
    }
    .extlinks {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px
    }
    .extlinks a i {
        /* color: rgb(243, 247, 215); */
        margin: 5px;
        font-size: 30px;
    }

    .hero {
        width: 90%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .hero img {
        width: 70%;
        height: auto;
        margin: 0 auto;
    }
    .hero h1 {
        position: absolute;
        font-size: 64px;
        color: rgba(0, 0, 0, .7);
    }



/* desktop version */
@media (min-width: 900px) {
    /* header {
        display: flex;
        justify-content: space-between;
        width: 95%;
        height: 100px;
        margin: 10px;
        padding: 10px;
        align-items: center;
    }
    .header-left {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    } */
    
    .nav {
        width: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-between; 
        align-items: center;
        background: none;
        position: static;
    }
    #open {
        display: none;
    }
    #close{
        display: none;
        /* border: blue solid 2px; */

    }
    /* .dropdown {
        margin-left: 20px;
    } */
    .dropbtns {
        display: flex;
        align-items: center;
    }
    .dropbtns h2 {
        padding-right: 10px;
        /* margin-left: 20%; */
        font-size: 20px;
        font-weight: 200;
        color: black;
    }
    .dropbtns .fa-angle-down {
        display: none;
        color: black;
    }
    .fa-angle-up {
        color: black;
    }
    .dropitms, .dropitms2 {
        display: none;
        width: 12%;
        flex-direction: column;
        position: absolute;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        padding-bottom: 10px;
        background: rgb(243, 247, 215);
    }
    /* .dropitms {
        position: absolute;
        top: 120px; right: 28%; 
    } */
    /* .dropitms2 {
        position: absolute;
        top:120px;  right: 15%;
    } */
    .nav a {
        color: black;
    }
    .projects {
        margin-left: 20px;
    }
    .extlinks {
        display: none;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px
    }
    .extlinks a i {
        color: black;
        margin: 5px;
        font-size: 24px;
    }

    .hero img {
        width: 610px;
    }
    .hero h1 {
        font-size: 140px;
    }
}